@charset 'utf-8';
$myFont:'맑은 고딕', arial, sans-serif;
$baseFontColor:#333;
$bigFontSize:30px;
$baseFontSize:12px;
$boxCenter:0px auto;
$None:none;
$Block:block;
*{
  margin: 0;
  padding: 0;
}
ul,li,ol{
  list-style: $None;
}
a{
  color: $baseFontColor;
  text-decoration: $None;
}
input[type=radio],ul{
  display: $None;
}
.wrap{
  margin: $boxCenter;
  width: 800px;
  padding-top: 200px;
}
label{
  width: 24.88%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  background: #ccc;
  margin-right: -7px;
  border: 1px solid $baseFontColor;
}
ul{
  position: relative;
}
ul li img{
  width: 100%;
  position: absolute;
}
.c03 img{
  top: -1px;
}
#tab01:checked ~ .c01, #tab02:checked ~ .c02,#tab03:checked ~ .c03, #tab04:checked ~ .c04{
  display: $Block;
}
input:checked+label{
  z-index: 9999;
  color: #fff;
  position: relative;
}
#tab01:checked+label{
  background: #EE3212;
  border: 1px solid #EE3212;
}
#tab02:checked+label{
  background: #F76F90;
  border: 1px solid #F76F90;
}
#tab03:checked+label{
  background: #A7B6C9;
  border: 1px solid #A7B6C9;
}
#tab04:checked+label{
  background: #002968;
  border: 1px solid #002968;
}